---
import type { TShowListing } from "../data/classes";
import Image from "astro/components/Image.astro";

const { showData } = Astro.props as { showData: TShowListing };

// Format date
const dateObj = new Date(showData.upcoming.date);
const formattedDate = dateObj.toLocaleDateString("en-US", {
  weekday: "short",
  month: "short",
  day: "numeric",
});
const formattedTime = dateObj.toLocaleTimeString("en-US", {
  hour: "2-digit",
  minute: "2-digit",
});
---

<div class="border relative rounded-md overflow-hidden shadow-md">
  <div class="relative">
    <div class="group overflow-hidden h-60 relative">
      <a
        href={showData.upcoming.url}
        target="_blank"
        rel="noopener noreferrer"
        class="relative"
      >
        <a
          href={showData.upcoming.url}
          target="_blank"
          rel="noopener noreferrer"
          class="relative"
        >
          <div
            class="transition-colors absolute inset-0 bg-black/50 group-hover:bg-black/0 pointer-events-none z-10"
          >
          </div>
          <Image
            src={showData.image}
            alt={showData.title}
            width={400}
            height={400}
            class="transition-transform w-full h-full object-cover object-top group-hover:scale-105 peer-hover:scale-105"
          />
        </a>
      </a>

      <div class="absolute bottom-4 right-4 z-20">
        <a
          href={showData.upcoming.url}
          target="_blank"
          class="peer bg-purple/80 text-white rounded-sm border py-3 px-12 text-center transition-transform"
        >
          Free RSVP
        </a>
      </div>
    </div>

    <div class="p-2">
      <a href={showData.upcoming.url} target="_blank">
        <h2 class="mb-1 inline-block">{showData.title}</h2>
      </a>
      <p class="text-base font-semibold">
        {formattedDate} • {formattedTime}
      </p>
      <p class="text-base mt-2">{showData.description}</p>
    </div>
  </div>
</div>
