---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/global.css'
import { type Metadata, defaultMeta } from '../utils/seo'

interface Props {
  meta?: Partial<Metadata>
  footerSpacious?: boolean
  footerBordered?: boolean
}

const {
  meta: pageMeta = {},
  footerSpacious = true,
  footerBordered = true,
}: Props = Astro.props

const meta: Metadata = {
  ...defaultMeta,
  ...pageMeta,
}

const { title, description, url, image, imageAlt } = meta
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Basic Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#6B21A8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href={url} />

    <!-- Title & Description -->
    <title>{meta.title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={image} />
    {imageAlt && <meta property="og:image:alt" content={imageAlt} />}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    {imageAlt && <meta name="twitter:image:alt" content={imageAlt} />}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RT57N46M2P"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-RT57N46M2P')
    </script>
  </head>

  <body class="bg-gray-50 text-gray-900">
    <Header />

    <main class="min-h-screen">
      <slot />
    </main>

    <Footer spacious={footerSpacious} bordered={footerBordered} />
  </body>
</html>
