---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/global.css'
import { type Metadata, defaultMeta } from '../utils/seo'

const meta: Metadata = {
  ...defaultMeta,
  ...Astro.props.meta,
}

const { title, description, url } = meta
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Basic Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#6B21A8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href={url} />

    <!-- Title & Description -->
    <title>{meta.title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={meta.image} />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RT57N46M2P"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-RT57N46M2P')
    </script>
  </head>

  <body class="bg-gray-50 text-gray-900">
    <!-- <Header /> -->
    <Header />

    <main class="min-h-screen">
      <slot />
    </main>

    <Footer />
  </body>
</html>
