---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MobileNav from "../components/MobileNav.astro";
import "../styles/global.css";
import { type Metadata, defaultMeta } from "../utils/seo";

const meta: Metadata = {
  ...defaultMeta,
  ...Astro.props.meta,
};

const { title, description, url } = Astro.props.meta;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Basic Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#6B21A8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href={url} />

    <!-- Title & Description -->
    <title>{meta.title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={meta.image} />
  </head>

  <body class="bg-gray-50 text-gray-900">
    <!-- <Header /> -->
    <MobileNav />

    <main class="min-h-screen">
      <slot />
    </main>

    <Footer />
  </body>
</html>
